*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Varela Round', sans-serif;user-select:none;}

:root{
    --bodyColor: #2D394D;
    --textColor: #F4EFEE;
    --contrastColor: #263041;
    --accentColor: #FF7A90;
}
a {
    color: inherit;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: start;
    justify-items: center;
    background-color: var(--bodyColor);
    overflow: hidden;
}

/* body > *{
border: solid 1px red;
} */

#container {
    display: grid;
    gap: 2%;
    display: none;
    grid-template-columns: repeat(3, 150px);
}

.box{
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 5%;
    width:150px;
    height: 150px;
    font-size: 5rem;
    cursor: pointer;
    user-select:none;
    background-color: var(--contrastColor);
    color: var(--accentColor);
}

#titleScreen{
    font-size: 8rem;
    color: var(--accentColor);
}

#startScreen{
    display: grid;
    place-content: center;
    text-align: center;
    /* margin-top: 5%; */
    transform: translate(0, 180px);
}

#chooseBox{
    display: grid;
    place-items: center;
    width: 500px;
    font-size: 1.5rem;
}

#chooseBox > *{
    color: var(--textColor);
    padding: 2%;
    /* border: solid 1px red; */
}

#buttonContainer{
    display: grid;
    place-items: center;
    gap: 5%;
    grid-template-columns: repeat(2,1fr);
}

button{
    font-size: 2.5rem;
    padding: .2rem 2.5rem .2rem 2.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--contrastColor);
    color: var(--textColor);
    cursor: pointer;
}

button:hover{
    color: var(--accentColor);
}

footer{
    color: var(--textColor);
    position: absolute;
    bottom: 2%;
}

a{
    color: var(--accentColor);
}

#resultScreen{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(21, 25, 33, 0.7);
    backdrop-filter: blur(8px);
    color: var(--textColor);
    font-size: 5rem;
    gap: 10%;
    display: none;
}

#retryBtn{
    background-color: var(--accentColor);
    color: var(--contrastColor);
    font-size: 1.5rem;
    padding: .8rem;
}

#resultScreen > *{
    /* border: solid 1px red; */
}

#playerTurnIndicator{
    position: absolute;
    top: 2%;
    left: 2%;
}

#playerScoreIndicator {
    position: absolute;
    top: 2%;
    right: 1%;
    display: flex;
    font-size: .4rem;
    column-gap: 4%;
}


#playerScoreIndicator > *{
    text-align: center;
    /* border: solid 1px red; */
    padding: 4%;
    width: 100px;
    background-color: var(--contrastColor);
    color: var(--textColor);
    border-radius: 3px;
}

.playerScores {
    display: grid;
    gap: 5%;
}

.scoreSpan{
    color: var(--accentColor);
    font-size: 1.5rem;
}

#playerTurnIndicator{
    color: var(--textColor);
}

#playerTurnText{
    color: var(--accentColor);
}