* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --bodyColor: #2D394D;
    --textColor: #F4EFEE;
    --contrastColor: #263041;
    --accentColor: #FF7A90;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    align-items: start;
    justify-items: center;
    background-color: var(--bodyColor);
    overflow: hidden;
    /* border: solid 1px magenta; */
}

body > *{
/* border: solid 1px red; */
}

#container {
    display: grid;
    gap: 2%;
    display: none;
    grid-template-columns: repeat(3, clamp(6.25rem, calc(5.16rem + 5.43vw), 9.38rem));
}

.box {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 5%;
    width: clamp(6.25rem, calc(5.16rem + 5.43vw), 9.38rem);
    height: clamp(6.25rem, calc(5.16rem + 5.43vw), 9.38rem);
    font-size: 5rem;
    cursor: pointer;
    background-color: var(--contrastColor);
    color: var(--accentColor);
}

#titleScreen {
    font-size: clamp(3.75rem, calc(2.27rem + 7.39vw), 8.00rem);
    color: var(--accentColor);
}

#startScreen {
    text-align: center;
    transform: translate(0, 180px);
}

#startScreen > *{
    /* border: solid 1px yellow; */
}

#chooseBox {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 1rem;
}

#chooseBox h1{
    font-size: clamp(2.50rem, calc(1.98rem + 2.61vw), 4.00rem);
}

#chooseBox>* {
    color: var(--textColor);
    /* border: solid 1px yellow; */
}

#buttonContainer {
    display: grid;
    place-items: center;
    gap: 5%;
    grid-template-columns: repeat(2, 1fr);
}

button {
    font-size: 2rem;
    padding: .2em 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--contrastColor);
    color: var(--textColor);
    cursor: pointer;
}

button:hover {
    color: var(--accentColor);
}

footer {
    color: var(--textColor);
    position: absolute;
    bottom: 2%;
}

a {
    color: var(--accentColor);
}

#resultScreen {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(21, 25, 33, 0.7);
    backdrop-filter: blur(8px);
    color: var(--textColor);
    font-size: clamp(3.00rem, calc(2.30rem + 3.48vw), 5.00rem);
    gap: 10%;
    display: none;
}

#retryBtn {
    background-color: var(--accentColor);
    color: var(--contrastColor);
    font-size: 1.5rem;
    padding: .8rem;
}

#resultScreen>* {
    /* border: solid 1px red; */
}

#playerTurnIndicator {
    position: absolute;
    top: .5rem;
    left: 1rem;

}

#playerScoreIndicator {
    position: absolute;
    top: clamp(0.60rem, calc(0.46rem + 0.70vw), 1.00rem);
    right: clamp(0.60rem, calc(0.46rem + 0.70vw), 1.00rem);
    display: flex;
    font-size: .4rem;
    column-gap: 4%;
    display: none;
}


#playerScoreIndicator>* {
    text-align: center;
    /* border: solid 1px red; */
    padding: 4%;
    width: clamp(3.75rem, calc(2.88rem + 4.35vw), 6.25rem);
    background-color: var(--contrastColor);
    color: var(--textColor);
    border-radius: 3px;
}

#playerTurnIndicator {
    color: var(--textColor);
    display: none;
}

.playerScores {
    display: grid;
    gap: 5%;
    font-size: clamp(0.60rem, calc(0.46rem + 0.70vw), 1.00rem);
}

.scoreSpan {
    color: var(--accentColor);
    font-size: 1rem;
}


#playerTurnText {
    color: var(--accentColor);
    font-size: clamp(2.00rem, calc(1.65rem + 1.74vw), 3.00rem);
}

.playerTurnIndicatorClass{
    font-size: clamp(2.00rem, calc(1.65rem + 1.74vw), 3.00rem);
}